/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/* colors */
:root {
  --color-zero: #fff;
  --color-primary: #AA1423;
  --color-second: #777;
  --color-third: #EEE;
  --color-fourth: #ff6e14;
  --color-fourth-hover: #e6681a;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  border: none;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

/* Mobile first */
/* header */
.header {
  width: 100%;
  height: 100vh;
  background: url('./assets/background-home.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* nav bar */
.header__navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-zero);
}

.header__navbar--logo {
  margin-top: 5px;
  width: 100px;
  height: 25px;
  background: url('./assets/logo-chaordic.png') center center no-repeat;
  font-size: 0;
}

/* banner */
.header__banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}


.header__banner--titulo {
  font-family: 'Roboto Slab', serif;
  color: var(--color-third);
  font-size: 30px;
  margin: 20px;
}

.header__banner--texto {
  margin: 5px 10px;
  color: var(--color-third);
  text-align: center;
}

.header__banner__form {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} 

.header__banner__form--input {
  width: 260px;
  color: var(--color-fourth);
  margin: 5px;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid var(--color-fourth);
  padding: 5px;
  font-size: 16px;

}

.header__banner__form--input::placeholder {
  color: var(--color-fourth);
}


.header__banner__form--button {
  font-size: 16px;
  color: var(--color-zero);
  background: var(--color-fourth);
  margin: 10px;
  padding: 10px;
  transition: all 0.3s;
}

.header__banner__form--button:hover {
  background: var(--color-fourth-hover);
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* top 5 */
.main__top5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.main__top5--titulo {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  color: var(--color-primary);
  margin: 20px;
}

.main__top5--colocados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-third);
  margin: 10px;
  width: 80vw;
  max-width: 550px;
}

.main__top5--colocados a {
  color: var(--color-primary);
  margin: 5px;
  font-weight: bold;
}

.main__top5--colocados span {
  color: var(--color-second);
}

/* hits */
.main__hits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-third);
  width: 100%;
}

.main__hits--titulo {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  color: var(--color-primary);
  margin: 20px;
}